# GCP
GCP_PROJECT_ID=ytlyzer
GCP_REGION=us-central1
GCP_SERVICE_ACCOUNT_KEY_PATH=

# Cloud Storage
GCS_BUCKET_NAME=ytlyzer-audio

# Firestore
FIRESTORE_COLLECTION=jobs

# Cloud Tasks
CLOUD_TASKS_QUEUE=transcription-queue
CLOUD_TASKS_LOCATION=us-central1

# API
PORT=8080
LOG_LEVEL=info
